$bgcolor-secondary-darkBlue: #252540;
$bgcolor-primary-darkBlue: #0d0d2b;

$color-primary-blue: #0000ff;
$color-primary-blue: #2b076e;

$color-primary-yellow: #ffde00;
$color-primary-purple: #6a4d8a;
$color-primary-lightBlue: #3b82f6;

$color-primary-grey: #8c9597;
$color-secondary-grey: #9ca3af;
$color-tertiary-grey: #d1d5db;

$color-primary-white: #ffffff;
$color-secondary-white: #f9fafb;
$color-tertiary-white: #e0e0e0;

$color-primary-black: #000000;
$color-secondary-black: #0D0D2B;
$color-tertiary-black:#545454;
// $color-tertiary-black: #8c9597;
$color-primary-orange: #f18b6d;

// Screen Size
$xl: 75em; //1200px
$l: 64em; // 1024px
$m: 48em; // 768px
$s: 40em; // 640px